@font-face {
    font-family: 'CustomFont';
    src: url('static/futura-light.ttf') format('truetype'); /* Replace with the path to your font file */
    /* Add additional formats if necessary, like woff or woff2 */
    /* Example: */
    /* src: url('fonts/custom-font.woff') format('woff'),
           url('fonts/custom-font.woff2') format('woff2'); */
  }

body {
    background-color : rgba(49,51,56,255);
    margin: 0px;
    padding: 0px;
}

header {
    background-color : rgba(49,51,56,255);
    font-family: 'CustomFont', sans-serif;
    text-align: center;
    color : rgb(248, 247, 247);
    height: 20vh;
    font-size: xx-large;
}